main{
    background-color: rgb(3, 58, 141);
}

h1{
    border: 5px  solid rgb(3, 58, 141);
    margin: 0px;
    padding: 20px;
    background-color: rgb(2, 40, 97);
    color:rgb(221, 206, 186);
    font-size: 40px;
}

.descricao{
    color: rgb(221, 206, 186);
    font-size: 25px;
}

h2{
    border: 5px  rgb(2, 40, 97);
    margin: 0px;
    padding: 20px;
    background-color: rgb(2, 40, 97);
    color:antiquewhite;
    font-size: 30;
}

ul > li{
    color: rgb(221, 206, 186);
    font-size: 20px;
}
